img {
  width: 200px;
}
* {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p{
    font-size: 20px;
    margin-top: 50%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headd{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}
ul{
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content:space-evenly;
}

ul a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin: 0;
}

header{
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    font: bold;
    font-size: 20px;
    position: fixed;
    bottom: 5%;
    border-top: 1px solid gray;
    width: 100%;
}